@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
  --primary-color: #52489c;
  --secondary-color: #59c3c3;
  --accent-color: #f45b69;
  --text-dark: #333;
  --text-light: #ebebeb;
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: "Mooli", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  font-size: 1.2em;
}

header {
  background-color: var(--primary-color);
  color: var(--text-light);
  font-family: var(--primary-font);
  text-align: center;
  width: 100%;
  padding: 1rem 0;
  justify-items: center;
}

.nav-list {
  display: block;
  /* visible by default on small screens */
}

li {
  list-style-type: none;
}

li a {
  color: var(--text-light);
  text-decoration: none;
}

.large {
  display: none;
}

.medium {
  display: block;
  background-color: var(--primary-color);
  border: none;
  font-size: large;
  color: var(--text-light);
}

.hide {
  display: none;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  text-align: center;
  padding: 1rem;
}

.image-container1 img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.regular {
  width: 100%;
}

footer {
  background-color: var(--primary-color);
  color: var(--text-light);
  text-align: center;
  padding: 1rem 0;
}

h1 {
  grid-column: 1;
}

/* modal */
dialog {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
}

dialog img {
  width: 90%;
  max-height: 100%;
  margin: 20vh auto 0 auto;
  display: block;
  border-radius: 8px;
}

button.close-viewer {
  position: absolute;
  top: 20vh;
  right: 10px;
  background-color: var(--accent-color);
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.25rem 0.75rem;
  cursor: pointer;
  border-radius: 4px;
}

button.close-viewer:hover {
  background-color: #d8434f;
}

@media screen and (max-width: 499px) {
  .nav-list {
    display: block !important;
  }
}

/* Responsive Grid Columns */
@media screen and (min-width: 500px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }

  .nav-list {
    display: none;
    /* hide nav list initially on larger screens */
  }

  .nav-list.show {
    display: block;
    /* show nav list when toggled */
  }

  .hide {
    display: none;
  }

  .medium {
    display: block;
    background-color: var(--primary-color);
    border: none;

    font-size: large;
    color: var(--text-light);
  }

  header {
    justify-items: center;
  }

  h1 {
    grid-column: 1/3;
  }


}

@media screen and (min-width: 900px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }

  .regular {
    display: none;
  }

  .large {
    display: block;
    width: 100%;
    height: auto;
  }

  .medium {
    display: none;
  }

  .nav-list {
    display: block;

  }

  li {
    display: inline;
    margin: 25px;
  }

  .small {
    display: none;
  }

  h1 {
    grid-column: 1/4;
  }

}