@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
 :root {
 --primary-color: #52489c;
 --secondary-color: #59c3c3;
 --accent-color: #f45b69;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica,sans-serif;
 --secondary-font: Mooli, san-serif;
 }

header {
    background-color: var(--primary-color);
    color: var(--text-light);
    font-family: var(--primary-font);
    padding: 20px;
    text-align: center;
}

.medium {
    display:none;
}