body{
    background-color:white;
    
}

.dark{
    background-color: #333;
}

.dark h1{
    color: #fff;
}   

.dark p{
    color: #fff;
}

.dark li{
    color: #fff;
}

#border{
    border: 1px solid rgb(167, 167, 167);
    margin: 50px;
    text-align: center;
    padding: 130px;
    max-width: 600px;
    justify-self: center;
}

#title{
    border-bottom: #006EB6 1px solid;
}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    font-size: 50px;
}

h4{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color:#006EB6;
}

#paragraph{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    font-size: 20px;
}

#slant{
    font-style: italic;
}

ol{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    font-size: 20px;
}

li{
    margin-top: 30px;
}

img{
    margin-top: 50px;
    width: 150px;
}